@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

@theme {
    /* Farver */
    --color-primary: oklch(0.7952 0.1617 86.05);
    --color-primary-hover: oklch(from var(--color-primary) calc(l - 0.05) c h);
    --color-primary-background: oklch(from var(--color-primary) calc(l + 0.10) calc(c - 0.1) h);
    --color-text-color: oklch(0.15 0 0);
    --color-text-color-muted: oklch(from var(--color-text-color) calc(l + 0.1) c h);
    --color-surface: oklch(from var(--color-background) calc(l - 0.06) c h);
    --color-background: oklch(0.9663 0.008 98.88);

    /* states og feedback */
    --color-surface-hover: oklch(from var(--color-surface) calc(l - 0.04) c h);
    --color-border: oklch(from var(--color-text-color) calc(l + 0.5) c h);

    /* Feedback-farver */
    --color-success: oklch(0.65 0.15 145);     /* grøn */
    --color-success-bg: oklch(from var(--color-success) calc(l + 0.25) calc(c - 0.1) h);
    --color-danger: oklch(0.55 0.20 25);       /* rød */
    --color-danger-bg: oklch(from var(--color-danger) calc(l + 0.35) calc(c - 0.1) h);

    /* Gap-størrelser */
    --spacing-padding: 0.25rem;
    --spacing-gap-sm: 0.5rem;
    --spacing-gap-md: 1rem;
    --spacing-gap-lg: 2rem;
    --spacing-gap-xl: 4rem;
}

/* typography */
@layer components {

    .text-hero-header {
        @apply text-2xl font-bold text-text-color;
    }

    .text-section-header {
        @apply text-lg font-semibold text-text-color;
    }

    .text-body {
        @apply text-base text-text-color;
    }

    .text-muted {
        @apply text-base text-text-color-muted;
    }
}